

#imagem {
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
}

.titulo {
    font-size: 4rem;
    font-weight: 200;
}

.card {
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botao {
    width: 25rem;
    height: 15rem;
    font-size: 2rem;
    background-color: rgb(132, 181, 223);
    border: none;
    border-radius: 1rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botao:hover {
    width: 26rem;
    height: 16rem;
    background-color: rgb(118, 158, 193);
    transition: .2s ease-in;
}
